page-articleviewer {}

.articleHeadline {
  text-align: left;
  padding: 10px;
  font-size: 32px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  color: slategray;
}

.articleContent {
  text-align: justify;
  padding: 10px;
  font-size:20px;
  font-weight: bold;
  color:#4E5863;
  line-height:140%;
}
.card-background-page {
    
      ion-card {
        position: relative;
        text-align: center;
      }
    
      
      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 90%;
        width: 100%;
        color: #fff;
      }
    
    }
    blockquote.twitter-tweet {
      display: inline-block;
      font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
      font-size: 16px;
 
      font-weight: bolder;
      line-height: 16px;
      border-color: #eee #ddd #bbb;
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
      margin: 10px 5px;
      padding: 0 16px 16px 16px;
      max-width: 468px;
      text-align: left !important;
    }
    
    blockquote.twitter-tweet p {
      font-size: 20px;
      font-weight: bold;
      line-height: 20px;
    }
    
    blockquote.twitter-tweet a {
      color: blue;
      font-weight: normal;
      text-decoration: none;
      outline: 0 none;
    }
    
    blockquote.twitter-tweet a:hover,
    blockquote.twitter-tweet a:focus {
      text-decoration: underline;
    }