.titleicon {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
  }
  
  .header {
    height: 60px;
  }
  
  .nav-bar-header {
    height: 100%;
  }
  
  .pageContent {
    margin-top: 50px;
  }

  .hide-card {
    -webkit-box-shadow: none!important;
  }
  
  .custom-avatar {
    height: 30vw;
    width: 30vw;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    
  }
  .ion-profile-card{
    box-shadow: none !important;
  }
  .profile_div{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;  
  }
  .profile_img{
    border-radius:50%;
    height:100px;
    width:100px;
  }