<ion-menu [content]="content">

  <ion-header>
    <div class="side_menu_header">
      <ion-title style="text-align: center;">
        <h2 style="color:white;">Menu</h2>
      </ion-title>
    </div>
  </ion-header>

  <ion-content class="side-menu">
    <ion-list no-border>
      <!-- 
        <ion-list-header>
        Settings
      </ion-list-header> -->
      <ion-item class="side-menu">
        <div class="profile_div" *ngIf="isLoggedIn">
          <img class="profile_img" src='{{userLoggedInImageUrl}}'>
          <h2 style="font-size: 20px;font-weight:bold;">{{userLoggedInName}}</h2>
          <p style="font-size: 18px;font-weight:bold;color:gray;">{{userLoggedInEmail}}</p>
        </div>
        <div class="profile_div" *ngIf="!isLoggedIn">
          <img class="feedtalklogo" src='assets/feedtalk.png'>
          <h2 style="font-size: 20px;font-weight:bold;">Log in to make comments</h2>         
        </div>
      </ion-item>

      <ion-item class="side-menu">
        <ion-icon name='planet' item-start></ion-icon>
        Favourits
        <ion-note item-end>
          (5)
        </ion-note>
      </ion-item>

      <ion-item class="side-menu">
        <ion-label>
          My Comments
        </ion-label>
        <ion-icon name='body' item-start></ion-icon>
      </ion-item>



      <ion-item class="side-menu">
        <ion-toggle checked="false"></ion-toggle>
        <ion-label>
          Notifications
        </ion-label>
        <ion-icon name='body' item-start></ion-icon>
      </ion-item>

      <ion-item class="side-menu">
        <button large ion-button icon-left (click)="newGoogleLogin()" *ngIf="!isLoggedIn" block color="danger">
          <ion-icon name="logo-googleplus"></ion-icon>
           Login
        </button>
        <button large ion-button icon-left (click)="logout()" *ngIf="isLoggedIn" block color="danger">
          <ion-icon  name="log-out"></ion-icon>
          Logout
        </button>
        <button large ion-button icon-left (click)="facebookLogin()" *ngIf="!isLoggedIn" block color="primary">
          <ion-icon name="logo-facebook"></ion-icon>
           Login
        </button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
