.titleicon {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
  }
  
  .header {
    height: 60px;
  }
  
  .nav-bar-header {
    height: 100%;
  }
  
  .pageContent {
    margin-top: 50px;
  }
  